body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container1
{
    width: 60%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#Expresion {
    color: #333;
    text-align: right;
    font-family: "Arial Black";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
